*.log
*.pdf
~*
*~
*.aux
#*
*#
.#*
fullpage.sty
*.vo
*.glob
*.cache
*.bc
bench/bench
bench/data.c
bench/operations.c
bench/runs.txt
bench/stats.sh
bench/export.csv
bench/rexport.tmpl
bench/perfplot.png
nat/build
TAGS