*.log
*.results
*.pdf
~*
*~
*.aux
*.cmo
*.byte
#*
*#
.#*
fullpage.sty
*.vo
*.glob
*.cache
*.bc
*.o
*.d
*.cmd
bench/bench
bench/data.c
bench/operations.c
bench/runs.txt
bench/stats.sh
bench/export.csv
bench/rexport.tmpl
bench/perfplot.png
build/
TAGS
.vagrant
validator/_build
validator/out
validator/test-results
klee-*/
klee-last
/nat/testbed/analysis/*
*.csv
nat/testbed/hard/util/plot/*.txt
/nat/testbed/hard/util/plot/.RData
nat/testbed/hard/util/plot/*.png
/nat/testbed/hard/util/plot/.Rhistory
