*.log
*.results
*.pdf
~*
*~
*.aux
*.cmo
*.byte
#*
*#
.#*
fullpage.sty
*.vo
*.glob
*.cache
*.bc
*.o
*.d
*.cmd
bench/bench
bench/data.c
bench/operations.c
bench/runs.txt
bench/stats.sh
bench/export.csv
bench/rexport.tmpl
bench/perfplot.png
build/
TAGS
.vagrant
validator/_build
klee-*/
klee-last
/nat/testbed/analysis/*
