# Yes, this file exists...
HAVE_DOT_CONFIG=y

# Minimalistic stdio
UCLIBC_HAS_STDIO_BUFSIZ_NONE=y
UCLIBC_PRINTF_SCANF_POSITIONAL_ARGS=9
UCLIBC_HAS_LFS=y

# We need getopt_long
UCLIBC_HAS_GETOPT_LONG=y

# Default malloc
MALLOC_STANDARD=y

# Modern terminals
UNIX98PTY_ONLY=y
ASSUME_DEVPTS=y

# Ctype stuff, minimalistic but safe
UCLIBC_HAS_CTYPE_TABLES=y
UCLIBC_HAS_CTYPE_ENFORCED=y

# Defaults for those, not sure what they are
UCLIBC_PWD_BUFFER_SIZE=256
UCLIBC_GRP_BUFFER_SIZE=256

# Compilation stuff
CROSS_COMPILER_PREFIX=""
UCLIBC_EXTRA_CFLAGS=""
WARNINGS="-Wall"

# Use PIC (no reason not to)
DOPIC=y

# Default security option, probably doesn't matter for symbex
UCLIBC_BUILD_NOEXECSTACK=y

# amd64 arch
TARGET_x86_64=y
TARGET_ARCH="x86_64"
FORCE_OPTIONS_FOR_ARCH=y
TARGET_SUBARCH=""
ARCH_LITTLE_ENDIAN=y
ARCH_HAS_MMU=y
ARCH_USE_MMU=y
UCLIBC_HAS_FLOATS=y
UCLIBC_HAS_FPU=y

# Headers and other paths
KERNEL_HEADERS="/usr/include/x86_64-linux-gnu"
RUNTIME_PREFIX="/usr/$(TARGET_ARCH)-linux-uclibc/"
DEVEL_PREFIX="/usr/$(TARGET_ARCH)-linux-uclibc/usr/"
