assert mapp<ether_addri>(_, ether_addrp, eth_addr_hash, nop_true, ?final_dyn_map);
assert mapp<stat_keyi>(_, static_keyp, st_key_hash, nop_true, ?stat_map);
assert vectorp<ether_addri>(_, ether_addrp, ?final_dyn_key_vec);
assert vectorp<stat_keyi>(_, static_keyp, ?final_stat_key_vec);
assert vectorp<uint8_t>(_, dyn_valp, ?final_dyn_val_vec);
assert double_chainp(?final_chain,_);

//TODO: check that the packet is intact
#define PACKETS_EQUAL(pkta, pktb) true
#define ETHERNET_ADDR(addr) eaddrc(addr.a, addr.b, addr.c, addr.d, addr.e, addr.f)

ml_table initial_table = bridge_abstract_function(initial_dyn_map,
                                                  initial_dyn_val_vec,
                                                  initial_chain,
                                                  stat_map);
ml_table final_table = bridge_abstract_function(final_dyn_map,
                                                final_dyn_val_vec,
                                                final_chain,
                                                stat_map);

bit_and_zero(0x00000010);
if (10 < now) {// consider only normal moments, remote from the start of the epoch

  if (a_packet_received) {
    ml_table exprnd_table = bridge_abstract_function(exprnd_dyn_map,
                                                     exprnd_dyn_val_vec,
                                                     exprnd_chain,
                                                     stat_map);
    // ml_table refreshed_table = bridge_abstract_function(exprnd_dyn_map,
    //                                                     exprnd_dyn_val_vec,
    //                                                     refreshed_chain,
    //                                                     stat_map);

    ether_addri dst_addr = ETHERNET_ADDR(the_received_packet.ether.d_addr);
    ether_addri src_addr = ETHERNET_ADDR(the_received_packet.ether.s_addr);
    stat_keyi static_key = stkc(received_on_port, dst_addr);

    switch(stat_map) { case mapc(capacity, st_map, addrs):
      stat_map_has(st_map, static_key);
    }
    switch(final_dyn_map) { case mapc(capacity, dyn_map, addrs):
      dyn_map_has(dyn_map, final_dyn_val_vec, final_chain, dst_addr);
    }
    if (stat_table_has_key(get_stat_table(final_table), static_key)) {
      switch(stat_map) { case mapc(capacity, st_map, addrs):
        stat_map_has_get(st_map, static_key);
      }
      int output_port = stat_table_get(get_stat_table(final_table), static_key);
      if (output_port == -2 ||
          output_port == received_on_port) {
        assert false == a_packet_sent;
        assert false == a_packet_flooded;
      } else {
        assert true == a_packet_sent;
        assert false == a_packet_flooded;
        assert sent_on_port == output_port;
        assert PACKETS_EQUAL(the_received_packet, sent_packet);
      }
    } else {
      if (dyn_table_has_key(get_dyn_table(final_table), dst_addr)) {
        int output_port = dyn_table_get(get_dyn_table(final_table), dst_addr);
        switch(final_dyn_map) { case mapc(capacity, dyn_map, addrs):
          dyn_map_has_get(dyn_map, final_dyn_val_vec, final_chain, dst_addr);
        }
        if (output_port == received_on_port) {
          assert false == a_packet_sent;
          assert false == a_packet_flooded;
        } else {
          assert true == a_packet_sent;
          assert false == a_packet_flooded;
          assert sent_on_port == output_port;
          assert PACKETS_EQUAL(the_received_packet, sent_packet);
        }
      } else {
        assert true == a_packet_flooded;
        assert flooded_except_port == received_on_port;
        assert PACKETS_EQUAL(the_received_packet, sent_packet);
      }
    }
  }
}
