if (a_packet_received &&
    ((the_received_packet->packet_type & 0x00000010) ||
     (the_received_packet->packet_type == 0 &&
      the_received_packet->buf_addr->ether.ether_type == 0x0800))) {
  assert true == a_packet_sent;
}