#include <stdint.h>
#include "lib/expirator.h"
#include "lib/nf_time.h"
#include "lib/stubs/my-time-stub-control.h"
#include "lib/containers/double-map.h"
#include "lib/containers/double-chain.h"
#include "lib/stubs/containers/double-map-stub-control.h"

#include "lib/containers/batcher.h"

#include "lib/containers/array-bat.h"
#include "lib/containers/array-rq.h"
#include "lib/containers/array-u16.h"
#include "lib/containers/array-lcc.h"
#include "lib/stubs/loop.h"

//@ #include "lib/abstract-state.h"

int flow_consistency(void* key_a, void* key_b, int index, void* value)
/*@ requires true; @*/
/*@ ensures true; @*/
{
   return 0;
}

//@ predicate a_packet(struct rte_mbuf *mbuf);

int send_single_packet(struct rte_mbuf *m, uint8_t port);
//@ requires a_packet(m);
//@ ensures result != 0 ? true : a_packet(m);

void received_packet(uint8_t portid,
                     struct rte_mbuf *mbuf);
//@ requires true;
//@ ensures a_packet(mbuf);

void rte_pktmbuf_free(struct rte_mbuf *mbuf);
//@ requires a_packet(mbuf);
//@ ensures true;

/*@
lemma void bit_and_zero(int x)
requires true;
ensures 0 == (0&x);
{
  assume(false);//TODO
}
@*/
