
load  5 30put->1get  hitrate  5%  | c   $v1-:-$e1 | s   $v2-:-$e2 | g   $v3-:-$e3 
load  5 30put->1get  hitrate 50%  | c   $v4-:-$e4 | s   $v5-:-$e5 | g   $v6-:-$e6 
load  5 30put->1get  hitrate 95%  | c   $v7-:-$e7 | s   $v8-:-$e8 | g   $v9-:-$e9 
load  5  1put->1get  hitrate  5%  | c   $v10-:-$e10 | s   $v11-:-$e11 | g   $v12-:-$e12 
load  5  1put->1get  hitrate 50%  | c   $v13-:-$e13 | s   $v14-:-$e14 | g   $v15-:-$e15 
load  5  1put->1get  hitrate 95%  | c   $v16-:-$e16 | s   $v17-:-$e17 | g   $v18-:-$e18 
load  5  1put->30get hitrate  5%  | c   $v19-:-$e19 | s   $v20-:-$e20 | g   $v21-:-$e21 
load  5  1put->30get hitrate 50%  | c   $v22-:-$e22 | s   $v23-:-$e23 | g   $v24-:-$e24  
load  5  1put->30get hitrate 95%  | c   $v25-:-$e25 | s   $v26-:-$e26 | g   $v27-:-$e27 

load 50 30put->1get  hitrate  5%  | c   $v28-:-$e28 | s   $v29-:-$e29 | g   $v30-:-$e30 
load 50 30put->1get  hitrate 50%  | c   $v31-:-$e31 | s   $v32-:-$e32 | g   $v33-:-$e33 
load 50 30put->1get  hitrate 95%  | c   $v34-:-$e34 | s   $v35-:-$e35 | g   $v36-:-$e36 
load 50  1put->1get  hitrate  5%  | c   $v37-:-$e37 | s   $v38-:-$e38 | g   $v39-:-$e39 
load 50  1put->1get  hitrate 50%  | c   $v40-:-$e40 | s   $v41-:-$e41 | g   $v42-:-$e42 
load 50  1put->1get  hitrate 95%  | c   $v43-:-$e43 | s   $v44-:-$e44 | g   $v45-:-$e45 
load 50  1put->30get hitrate  5%  | c   $v46-:-$e46 | s   $v47-:-$e47 | g   $v48-:-$e48 
load 50  1put->30get hitrate 50%  | c   $v49-:-$e49 | s   $v50-:-$e50 | g   $v51-:-$e51 
load 50  1put->30get hitrate 95%  | c   $v52-:-$e52 | s   $v53-:-$e53 | g   $v54-:-$e54 
 
load 95 30put->1get  hitrate  5%  | c   $v55-:-$e55 | s   $v56-:-$e56 | g   $v57-:-$e57
load 95 30put->1get  hitrate 50%  | c   $v58-:-$e58 | s   $v59-:-$e59 | g   $v60-:-$e60 
load 95 30put->1get  hitrate 95%  | c   $v61-:-$e61 | s   $v62-:-$e62 | g   $v63-:-$e63 
load 95  1put->1get  hitrate  5%  | c   $v64-:-$e64 | s   $v65-:-$e65 | g   $v66-:-$e66 
load 95  1put->1get  hitrate 50%  | c   $v67-:-$e67 | s   $v68-:-$e68 | g   $v69-:-$e69 
load 95  1put->1get  hitrate 95%  | c   $v70-:-$e70 | s   $v71-:-$e71 | g   $v72-:-$e72 
load 95  1put->30get hitrate  5%  | c   $v73-:-$e73 | s   $v74-:-$e74 | g   $v75-:-$e75 
load 95  1put->30get hitrate 50%  | c   $v76-:-$e76 | s   $v77-:-$e77 | g   $v78-:-$e78 
load 95  1put->30get hitrate 95%  | c   $v79-:-$e79 | s   $v80-:-$e80 | g   $v81-:-$e81 
