
load  5 30put->1get  hitrate  5%  | c   $r1 | s   $r2 | g   $r3 
load  5 30put->1get  hitrate 50%  | c   $r4 | s   $r5 | g   $r6 
load  5 30put->1get  hitrate 95%  | c   $r7 | s   $r8 | g   $r9 
load  5  1put->1get  hitrate  5%  | c   $r10 | s   $r11 | g   $r12 
load  5  1put->1get  hitrate 50%  | c   $r13 | s   $r14 | g   $r15 
load  5  1put->1get  hitrate 95%  | c   $r16 | s   $r17 | g   $r18 
load  5  1put->30get hitrate  5%  | c   $r19 | s   $r20 | g   $r21 
load  5  1put->30get hitrate 50%  | c   $r22 | s   $r23 | g   $r24  
load  5  1put->30get hitrate 95%  | c   $r25 | s   $r26 | g   $r27 

load 50 30put->1get  hitrate  5%  | c   $r28 | s   $r29 | g   $r30 
load 50 30put->1get  hitrate 50%  | c   $r31 | s   $r32 | g   $r33 
load 50 30put->1get  hitrate 95%  | c   $r34 | s   $r35 | g   $r36 
load 50  1put->1get  hitrate  5%  | c   $r37 | s   $r38 | g   $r39 
load 50  1put->1get  hitrate 50%  | c   $r40 | s   $r41 | g   $r42 
load 50  1put->1get  hitrate 95%  | c   $r43 | s   $r44 | g   $r45 
load 50  1put->30get hitrate  5%  | c   $r46 | s   $r47 | g   $r48 
load 50  1put->30get hitrate 50%  | c   $r49 | s   $r50 | g   $r51 
load 50  1put->30get hitrate 95%  | c   $r52 | s   $r53 | g   $r54 
 
load 95 30put->1get  hitrate  5%  | c   $r55 | s   $r56 | g   $r57
load 95 30put->1get  hitrate 50%  | c   $r58 | s   $r59 | g   $r60 
load 95 30put->1get  hitrate 95%  | c   $r61 | s   $r62 | g   $r63 
load 95  1put->1get  hitrate  5%  | c   $r64 | s   $r65 | g   $r66 
load 95  1put->1get  hitrate 50%  | c   $r67 | s   $r68 | g   $r69 
load 95  1put->1get  hitrate 95%  | c   $r70 | s   $r71 | g   $r72 
load 95  1put->30get hitrate  5%  | c   $r73 | s   $r74 | g   $r75 
load 95  1put->30get hitrate 50%  | c   $r76 | s   $r77 | g   $r78 
load 95  1put->30get hitrate 95%  | c   $r79 | s   $r80 | g   $r81 
